/**
 * @description 所有主题模式下的 Vxe Table CSS 变量
 * @description 用 Element Plus 的 CSS 变量来覆写 Vxe Table 的 CSS 变量，目的是使 Vxe Table 支持多主题模式且样式统一
 * @description 在此查阅所有可自定义的变量：https://github.com/x-extends/vxe-table/blob/master/styles/css-variable.scss
 */

:root {
  /* color */
  --vxe-ui-font-color: var(--color-text-regular);
  --vxe-ui-font-primary-color: var(--color-primary);

  /* --vxe-success-color: var(--el-color-success);
  --vxe-info-color: var(--el-color-info);
  --vxe-warning-color: var(--el-color-warning);
  --vxe-danger-color: var(--color-dander);

  --vxe-font-lighten-color: var(--color-text-primary);
  --vxe-primary-lighten-color: var(--el-color-primary-light-3);
  --vxe-success-lighten-color: var(--el-color-success-light-3);
  --vxe-info-lighten-color: var(--el-color-info-light-3);
  --vxe-warning-lighten-color: var(--el-color-warning-light-3);
  --vxe-danger-lighten-color: var(--color-dander-light-3);

  --vxe-font-darken-color: var(--color-text-secondary);
  --vxe-primary-darken-color: var(--el-color-primary-dark-2);
  --vxe-success-darken-color: var(--el-color-success-dark-2);
  --vxe-info-darken-color: var(--el-color-info-dark-2);
  --vxe-warning-darken-color: var(--el-color-warning-dark-2);
  --vxe-danger-darken-color: var(--color-dander-dark-2);

  --vxe-font-disabled-color: var(--color-text-disabled);
  --vxe-primary-disabled-color: var(--el-color-primary-light-5);
  --vxe-success-disabled-color: var(--el-color-success-light-5);
  --vxe-info-disabled-color: var(--el-color-info-light-5);
  --vxe-warning-disabled-color: var(--el-color-warning-light-5);
  --vxe-danger-disabled-color: var(--color-dander-light-5); */

  /* input/radio/checkbox */
  --vxe-ui-input-border-color: var(--color-border);
  --vxe-ui-input-disabled-color: var(--color-text-disabled);
  --vxe-ui-input-disabled-background-color: var(--color-fill-light);
  --vxe-ui-input-placeholder-color: var(--color-text-placeholder);

  /* table */
  --vxe-ui-table-header-font-color: var(--color-text-regular);
  --vxe-ui-table-footer-font-color: var(--color-text-regular);
  --vxe-ui-table-border-color: var(--color-border-lighter);
  --vxe-ui-table-header-background-color: var(--color-bg);
  --vxe-ui-table-header-background-color: var(--color-bg);
  --vxe-ui-table-body-background-color: var(--color-bg);
  --vxe-ui-table-footer-background-color: var(--color-bg);

  --vxe-ui-table-row-hover-background-color: var(--color-fill-light);
  --vxe-ui-table-row-striped-background-color: var(--color-fill-light);
  --vxe-ui-table-row-hover-current-background-color: var(--color-fill-light);
  --vxe-ui-table-row-current-background-color: var(--color-fill-light);
  --vxe-table-checkbox-range-background-color: var(--color-fill-light);

  /* loading */
  --vxe-loading-color: var(--color-primary);
  --vxe-loading-background-color: var(--color-mask);

  /* validate */
  --vxe-ui-table-validate-error-color: var(--color-dander);

  /* input */
  --vxe-input-background-color: var(--color-fill-blank);
  --vxe-input-panel-background-color: var(--color-fill-blank);

  /* select */
  --vxe-select-option-hover-background-color: var(--color-bg-overlay);
  --vxe-select-panel-background-color: var(--color-bg);

}